%h1 London's Invisible Smog
%article.thirteen.columns.alpha
  %section
    %p
      Every year over 
      %a(href="http://www.parliament.uk/business/committees/committees-a-z/commons-select/environmental-audit-committee/news/air-quality-a-follow-up-report/") 4,000 people die prematurely in London 
      due to air pollution. Unlike the infamous smog of pre 1960s London - so bad that the word foggy became synonomous with London - today's pollution is invisible but just as real. This website uses real time data from 
      %a(href="http://www.londonair.org.uk/LondonAir/Default.aspx") the London Air project
      and Google street view
      to help you see the pollution that is present but invisible.

    %h2=site.attributes["sitename"] 
    %div
      %div
      - if params["aqindex"]
        An air pollution level of 
      -else
        The current air pollution level is: 
      %div{:class => "level#{aqindex}"}
      = aqlevels[aqindex] + " (#{aqindex}). "
      Find out 
      %a(href="http://www.londonair.org.uk/london/asp/airpollutionindex.asp?la_id=&region=0&bulletin=hourly&site=&bulletindate=29/01/2012%2004:00:00&level=All&MapType=Google&zoom=9&lat=51.431751825946115&lon=-0.17578125&Species=All&laEdge=")how the index is calculated
      and 
      %a(href="http://www.londonair.org.uk/london/asp/airpollutionhealth.asp?HealthPage=HealthAdvice") the estimated health effects
      %div(style="clear:both; margin-bottom: 10px")
    #container{:style => "position: relative;"}
      / #pano{:name => "pano", :style => "width: 100%; height: 100%; z:index: 0"}
      %img.street{:style=>" z:index: 0", :src=>"http://maps.googleapis.com/maps/api/streetview?size=540x480&location=#{site.attributes['latitude']},#{site.attributes['longitude']}&sensor=false"}
      %div.street{:class => "overlay#{aqindex}", :style => "position: absolute; left: 0px; top: 0px; z-index: 2;"}

%div.three.columns.omega
  %aside.stats
    %section
      %h3 Smog then
      %img(style="width: 100px; height: 100px" src="/images/1950s.png")
      %h3 Smog now
      %img(style="width: 100px; height: 100px" src="http://www.eastlondonadvertiser.co.uk/polopoly_fs/smog_over_london_1_873935!image/3188945018.jpg_gen/derivatives/landscape_490/3188945018.jpg")

  %aside.stats
    %section
      %h3 Air pollution levels
      %table(style="border-collapse: collapse;")
        - aqlevels.each do |level, desc|
          %tr
            %td{:class => "legend#{level}", :style=>"padding-bottom: 10px"} &nbsp;
            %td(style="padding-left: 10px; ")
              %a{:href=>"?aqindex=#{level}&sitecode=#{params['sitecode']}"}= level + " - " + desc
